
:root {
    --naranja:#8b3d2b;
    --blanco:#fbfbfb;
    --negro:#000000;
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%rem;
}

body {
    font-family: "EB Garamond", serif;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--naranja);
    color: white;

    width: 100%;
    height: 6rem;
    
}

.logo {
    height: 120px;
    margin-left: 1.5rem;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline;
}

.centered-section {
    height: 100vh;
    text-align: center;


    background-image: url('./assets/imgfondoprimeraseccion.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    background: linear-gradient( bottom, transparent, white);

}

.centered-section h2 {

    margin-top: 50vh;

    font-size: 5rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;

    color: var(--naranja);

}


.centered-section p {
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;

    color: var(--negro);

    width: 80%;
    margin: 0 auto;
}

.horizontal-divs {
    text-align: center;


}

.titulos-secciones {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    color: var(--naranja);
    font-size: 3rem;
    margin-bottom: 3rem;

}


.horizontal-container {
    display: flex;
    justify-content: center;
    gap: 3rem;

    margin-top: 2rem;
}


.box {
    background-color: var(--naranja);
    padding: 20px;
    width: 20rem;
    height: 24rem;

    text-align: center;
    border-radius: 1rem;

    color: var(--blanco);

    box-shadow: 10px 10px 0px 0px #000;
}


.box h2 {
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    color: var(--blanco);

    font-weight: 100;

}

.box p {
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 3rem;

    font-size: 1rem;    
}


.container {
    align-items: flex-end;

}



.btn {
    display: inline-block;
    padding: 15px 25px;
    color: var(--naranja);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    width: 100%;
    height:auto;
    background-color: var(--blanco);
    margin-top: 1rem;
    font-size: 1rem;    

}



.horizontal-divs img {
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}





.centered-section img {
    width: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}


.centered-section div {
    width: 80%;
    
    margin: 0 auto;
    background-color: var(--naranja);
    height: 8px;
    border-radius: 5px;
}




.grid-section {
    text-align: center;

    width: 100%;
    height: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  
}

.grid-container div {

    width: 100%;
}

.grid-item-img {
    background-color: #f0f0f0;
    text-align: center;

    height: 30rem;
}

.mision {
    background-image: url("./assets/mision_01.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.vision {
    background-image: url('./assets/vision_01.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.objetivos {
    background-image: url('./assets/objetivos_01.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.grid-item-txt {
    padding: 20px;
    width: 100px;
    text-align: center;

    width: 80%;
    height: auto;
    background-image: url('./'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;

    margin-left: 2rem;

}


.grid-item-txt h2 {

    width: 100px;

    height: 30rem;

    
    font-size: 3rem;
    font-family: "EB Garamond", serif;
    color: var(--naranja);

    font-weight: 100;



    width: 80%;
    height: auto;
    background-image: url('./'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.grid-item-txt p {
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;

    width: 70%;
    
}


/* NORMATIVA */


.normativa-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;

    height: 30rem;
}

.normativa-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;

    margin-left: 5rem;
   

}

.normativa-text h2 {
    width: 100%;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 3rem;
    color: var(--naranja);

}

.normativa-txt p {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 1rem;

}

.normativa-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


 
}

.normativa-botones p {
    margin-bottom: 10px;
}


.normativa-botones button a {
    text-decoration: none;
    color: inherit;
}

.normativa-botones button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;

    box-shadow: 10px 10px 0px 0px #000;
    background-color: var(--naranja);

    margin: 5px 0;

    margin-top: 1rem;

}

.segunda {
    margin-top: 3rem;
    height: 40rem;
}



/*estancias posdoctorales*/



.normativa-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;

    height: 30rem;
}

.normativa-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;

    margin-left: 5rem;
   

}

.normativa-text h2 {
    width: 100%;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 3rem;
    color: var(--naranja);

}

.normativa-txt p {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 1rem;

}

.normativa-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


 
}

.normativa-botones p {
    margin-bottom: 10px;
}


.normativa-botones button a {
    text-decoration: none;
    color: inherit;
}

.normativa-botones button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;

    box-shadow: 10px 10px 0px 0px #000;
    background-color: var(--naranja);

    margin: 5px 0;

    margin-top: 1rem;

}

