
:root {
    --naranja:#8b3d2b;
    --blanco:#fbfbfb;
    --negro:#000000;
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    font-family: "EB Garamond", serif;
}


header {
    width: 100%;
    height: 6rem;

    background-color: var(--naranja);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 120px;
    margin-left: 1.5rem;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 1.5rem;
    color: var(--blanco);
    text-decoration: none;  
}

nav a:hover {
    text-decoration: underline;
}

.centered-section {
    height: 100vh;
    text-align: center;

    background-image: url('./assets/imgfondoprimeraseccion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(bottom, transparent, white);
}

.centered-section h2 {
    margin-top: 50vh;
    font-size: 5rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    color: var(--naranja);
}

.centered-section p {
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;

    color: var(--negro);

    width: 80%;
    margin: 0 auto;
}

/*SERVICIOS INICIALES*/

.horizontal-divs {
    text-align: center;
}

.titulos-secciones {
    font-size: 3rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    color: var(--naranja);
    margin-bottom: 3rem;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.box {
    width: 20rem;
    height: 24rem;
    padding: 20px;
    background-color: var(--naranja);
    color: var(--blanco);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px 0px #000;
}

.box h2 {
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    font-weight: 100;
    color: var(--blanco);
}
.horizontal-divs img {
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.box p {
    font-size: 1rem;    
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: 100;
}

.btn {
    width: 100%;
    height: auto;
    padding: 15px 25px;
    font-size: 1rem;    
    color: var(--naranja);
    background-color: var(--blanco);

    display: inline-block;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    margin-top: 1rem;
}

.container {
    align-items: flex-end;
}

.centered-section img {
    width: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.centered-section div {
    width: 80%;
    height: 8px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--naranja);
}

.grid-section {
    width: 100%;
    height: auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
}

.grid-container div {
    width: 100%;
}

.grid-item-img {
    height: 30rem;
    background-color: #f0f0f0;
    text-align: center;
}

.mision {
    background-image: url("./assets/mision_01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vision {
    background-image: url('./assets/vision_01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vision--responsive {
    background-image: url('./assets/vision_01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    }

.none--desktop {
    display: none;

}

.objetivos {
    background-image: url('./assets/objetivos_01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item-txt {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: 2rem;
    background-image: url('./'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

.grid-item-txt h2 {
    width: 80%;
    height: auto;
    font-size: 3rem;
    color: var(--naranja);
    font-family: "EB Garamond", serif;
    font-weight: 100;
}

.grid-item-txt p {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.normativa-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    height: 30rem;
}

.normativa-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    margin-left: 5rem;
}

.normativa-text h2 {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 3rem;
    color: var(--naranja);
}

.normativa-txt p {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 1rem;
}

.normativa-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.normativa-botones p {
    margin-bottom: 10px;
}

.normativa-botones button {
    width: 20rem;
    height: 4rem;
    padding: 10px 20px;
    margin: 5px 0;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px 0px #000;
    background-color: var(--naranja);
    color: white;
    cursor: pointer;
}

.normativa-botones button a {
    text-decoration: none;
    color: inherit;
}

.segunda {
    margin-top: 3rem;
    height: 30rem;
}

footer {
    width: 80%;
    height: 5rem;
    padding: 2rem;
    background-color: var(--naranja);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer p {
    font-size: 14px;
    color: var(--blanco);
    margin: 0;
}
